.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.dashboard-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

.heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2.5rem;
}

.details {
    display: flex;
    gap: 2rem;
}

.body {
    
}